img {
  width: 200px
}

.name *, .quantity *{
  display: block;
  margin: 0 auto;
}

.name, .price, .quantity{
  text-align: center;
}

.quantity .plus-minus * {
  display: inline-block;
}

.quantity p{
  padding: 5px 0;
}

button{
  border-radius: 5px;
  background-color: rgb(250,250,250)
}

th, td{
  border: 1px solid black
}

table{
  width: 700px;
  margin: 0 auto;
}

#title{
  width: 698px;
  display: block;
  margin: 0 auto; 
}

#extraInfo{
  font-style: italic;
}

#select *{
  display: inline-block;
}

#filter{
  padding-left: 10px;
}